body{
	background: url(https://cdn.friendsoftheearth.uk/sites/default/files/styles/hero_image/public/media/images/wood-1209632_1920.jpg?itok=vHXmWYMr);
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	text-align: center;
	border: 2px solid grey;
}